<p-toast/>
<p-table 
    [value]="jobs" 
    [tableStyle]="{ 'min-width': '50rem' }"
    [scrollable]="true"
    scrollHeight="calc(100vh - 10vh)"
>
    <ng-template #header>
        <tr>
            <th>  
                Jobs
                <button pButton (click)="getJob()">
                    @if (isLoading) {
                        <p-progress-spinner
                            ariaLabel="loading"
                            [style]="{ width: '1rem', height: '1rem' }"
                        />
                    } @else {
                        <svg data-p-icon="replay"></svg>
                    }
                </button>
            </th>
                          
        </tr>
    </ng-template>
    <ng-template #body let-job>
        <tr>
            <td>
                <div class="job-cell" [id]="job.id">
                     <div class = "checked-cell" [class.hidden] = "!job.applied">
                        <svg data-p-icon="check-circle"></svg> 
                    </div>
                    <div class="job-info">
                        <span class="search-keyword">{{ job.jobTitle }}</span>
                        <span class="search-portals">{{ job.companyName }}</span>
                    </div>
                    <div class="toggle-cell">
                        <p-toggleswitch [(ngModel)]="job.applied"  inputId="switch" (onChange)="updateApplied(job)" [disabled]="job.toogleDisable" />
                        <label for="switch">Beworben</label>
                    </div>
                   
                   
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

